<div class="customers" *ngIf="!(customers.isLoading$ | async); else loading">
    <app-customer-list 
      [customers]="customers.all$ | async" 
      (deleted)="customers.delete($event); customers.deselect();"
      (selected)="customers.select($event)">
    </app-customer-list>
    <app-customer-detail 
      *ngIf="(customer.current$ | async) as customer"
      [customer]="customer"
      (closed)="customers.deselect()">
    </app-customer-detail>
</div>
<ng-template #loading>
    Loading customers...
</ng-template>